body.userjs-options {
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #202023;
      color: #e8eaed;
    }
    section:not(:first-child) {
      border-top: 1px solid #4c4c4e;
    }
  }

  form {
    font-size: 1.25em;
  }

  section {
    &:not(:first-child) {
      border-top: 1px solid #4c4c4e;
    }
    &.checkbox>label,
    &.checkboxlist>label,
    &.select {
      display: flex;
      justify-content: space-between;
      padding: .825em;
    }
    &.checkbox>label,
    &.checkboxlist>label {
    cursor: pointer;
    }
    &.checkboxlist {
      padding-left: .825em;
      padding-bottom: .5em;
    }
    &.checkboxlist>label {
      padding-top: .5em;
      padding-bottom: .5em;
    }
    &.checkboxlist p {
      margin-bottom: .5em;
    }
  }

  .switch {
    position: relative;
    width: 38px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    input {
      display: none;
      &:checked+label {
        background-color: #5A6F93;
        margin-left: 0;
        &:before {
          right: 0px;
          background-color: #8AB4F8;
        }
      }
    }
    label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 16px;
      padding: 0;
      line-height: 16px;
      border: 0px solid #FFFFFF;
      border-radius: 20px;
      background-color: #9AA0A6;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #DADCE0;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
  }
}
