// @font-face {
//   font-family: Inter;
//   font-style: normal;
//   font-weight: normal;
//   src: url('fonts/Inter-Regular.woff2') format('woff2');
// }
// @font-face {
//   font-family: Inter;
//   font-style: normal;
//   font-weight: 600;
//   src: url('fonts/Inter-SemiBold.woff2') format('woff2');
// }

// body.webext-page,
// .main {
//   font-family: Inter, sans-serif !important;
// }

body.webext-page {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #495060;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  .mujs-cfg {
    display: flex;
    gap: 10px;
    flex-direction: column;
    // height: 900px;
    textarea {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
    }
  }
  .main {
    min-width: 50%;
    height: 100%;
  }
}
