# Dependency directories
yarn.lock
node_modules/
jspm_packages/

# dotenv environment variables file
.env

.vscode/.history

*.bak
*.web-extension-id
web-ext-artifacts
web-ext
Notes
/Notes/