# Dependency directories
**/node_modules/**
yarn.lock
.vscode/.history
web-ext-artifacts
tests/firefox/*
tests/chrome/*
tests/userscript/magic-userjs.dev.user.js
web-ext
**/build/**
**/Notes/**
**/chrlauncher/**

# dotenv environment variable file
.env
*.bak
*.web-extension-id