magic-userjs {
  cursor: default;
}
magic-userjs * {
  line-height: normal;
}
.hidden {
  display: none !important;
  z-index: -1 !important;
}
.main {
  @media screen and (max-height: 450px) {
    height: 100% !important;
    bottom: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    right: 0rem !important;
  };
  &.expanded {
    height: 100% !important;
    bottom: 0rem  !important;
  };
  &:not(.expanded) {
    margin-left: 1rem;
    margin-right: 1rem;
    right: 1rem;
    bottom: 1rem;
  };
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 492px;
  position: fixed;
  background: #495060 !important;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-size: 14px !important;
  font-family: arial,sans-serif !important;
  &:not(.hidden) {
    z-index: 99999999999999999 !important;
    display: flex !important;
    flex-direction: column !important;
  };
  *:not(magicuserjs-a,magicuserjs-btn,count-frame,.counterframe,.count,label,.magicuserjs-switch) {
    background: #495060 !important;
  };
  *:not(magicuserjs-a,magicuserjs-btn,count-frame,.counterframe,.count) {
    color: rgb(255, 255, 255) !important;
  };
}
.counterframe {
  border-radius: 100%;
  padding: 0.5%;
  width: 25px !important;
  height: 25px !important;
}
.count {
  background: transparent;
}
.mainframe {
  background: #495060 !important;
  color: rgb(255, 255, 255) !important;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  padding: 0.5% !important;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 25px !important;
  height: 25px !important;
  &:not(.hidden) {
    z-index: 99999999999999999 !important;
    display: block;
  }
}

count-frame {
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  display: block;
  text-align: center;
}

count-frame {
  line-height: normal !important;
  width: auto !important;
  height: auto !important;
}
.magicuserjs-header {
  order: 0;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 1em;
  justify-content: space-between;
}
.magicuserjs-body {
  // overflow-y: scroll;
  overflow-x: hidden;
  order: 1;
  display: flex;
  flex-direction: column;
}
.magicuserjs-cfg,
.magicuserjs-body {
  scrollbar-color: #ffffff #2e323d;
  scrollbar-width: thin;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.magicuserjs-cfg {
  @media screen and (max-width: 1150px) {
    margin: 0px auto 1rem auto !important;
  };
  @media screen and (max-height: 812px) {
    flex-direction: row !important;
    flex-wrap: wrap;
  };
  order: 2;
  margin: 0px 25rem 1rem 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  mujs-section > label {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    input[type*="number"] {
      position: relative;
      border-radius: 4px;
      border: 1px solid #fff;
    }
  }
  .magicuserjs-inlab {
    position: relative;
    width: 38px;
    border-radius: 20px;
    margin: 5px;
    input[type*="checkbox"] {
      display: none;
      &:checked+label {
        margin-left: 0;
        background-color: rgb(255, 255, 255, 0.568);
        &:before {
          right: 0px;
        }
      }
      &#greasyfork:checked+label,
      &#sleazyfork:checked+label {
        background-color: rgba(0, 183, 255, 0.568);
      }
      &#openuserjs:checked+label {
        background-color: rgb(237, 63, 20, 0.568);
      }
      &#github:checked+label {
        background-color: rgb(36, 41, 47, 0.568);
      }
    }
    label {
      display: block;
      overflow: hidden;
      height: 16px;
      padding: 0;
      border-radius: 20px;
      border: 1px solid #ffffff;
      background-color: rgb(73, 80, 96);
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #ffffff;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
  }
}

.magicuserjs-eframe,
.frame {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-size: 1em;
}
.frame {
  @media screen and (max-width: 800px) {
    display: flow-root !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  border-bottom: 1px solid #ffffff;
  &:not(.sf) {
    magicuserjs-a {
      color: #00b7ff !important;
    }
    magicuserjs-btn {
      color: #fff;
      background-color: #2d8cf0;
      border-color: #2d8cf0;
    }
  }
  &.sf {
    magicuserjs-a {
      color: rgb(231, 85, 49) !important;
    }
    magicuserjs-btn {
      background-color: rgb(237, 63, 20) !important;
      border-color: rgb(237, 63, 20) !important;
    }
  }
}
.magicuserjs-name {
  font-size: inherit !important;
  display: grid;
  margin-left: 1%;
  margin-top: .67em;
  margin-bottom: .67em;
  span {
    font-size: 0.8em !important;
  }
}
.magicuserjs-eframe {
  @media screen and (max-width: 800px) {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  margin-right: 1%;
  margin-top: .67em;
  margin-bottom: .67em;
}
.magicuserjs-uframe {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
mujs-btn {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  border: 1px solid #ffffff;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1;
  padding: 6px 15px;
}
mujs-column {
  @media screen and (max-width: 800px) {
    flex-flow: row wrap;
    &.btnframe {
      flex-flow: row wrap-reverse !important;
    }
  }
  display: flex;
  gap: 10px;
}
mujs-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
mujs-btn {
  svg {
    fill: white;
    width: 14px;
    height: 14px;
  }
}
input[type*="number"],
input[type*="text"] {
  border: transparent;
  outline: none !important;
}
magicuserjs-btn {
  font-size: 12px;
  border-radius: 3px;
  font-style: normal;
  padding: 6px 15%;
  font-weight: 400;
  font-variant: normal;
  line-height: 21px;
}

magicuserjs-a,
magicuserjs-btn,
.magicuserjs-cfg mujs-section *:not(input[type*="text"],input[type*="number"]),
.mainbtn,
.mainframe,
mujs-btn {
  cursor: pointer !important;
}

.magicuserjs-cfg *:not(input[type*="text"],input[type*="number"]) {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

mujs-btn,
input,
.magicuserjs-uframe,
.magicuserjs-list,
.install,
.magicuserjs-homepage {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
