body {
  width: 860px;
  height: 492px;
  overflow-x: hidden;
}
#app {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.card-title {
  cursor: pointer;
}

.ivu-card-extra {
  top: 8px;
}

.ivu-table-body {
  height: 400px;
  overflow-x: hidden;
}

.table-footer {
  position: fixed;
  bottom: 0;
  padding-left: 10px;
  width: 100%;
  background-color: #fff;
}

.table-footer a {
  color: #ed3f14;
}

.support-box {
  height: 28px;
  line-height: 28px;
}

.carouse-item {
  background-color: #ffffff;
}

.circle {
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
  float: right;
  right: 40px;
}

.badge {
  top: -17px;
  left: -6%;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 13px;
}